.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9ae03a4c71e48d3a25ec03b100bdff18d0d2419d

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 367f1054e0f7b1e3ff290e7846615f278996d29c
>>>>>>> 9ae03a4c71e48d3a25ec03b100bdff18d0d2419d
